Repository KarolisKont/item-price-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, isort, black, flake8, mypy, safety

poetry-check:
  name: validate pyproject.toml
  entry: poetry check
  language: system
  pass_filenames: false

isort:
  name: isort
  entry: poetry run isort
  language: system

black:
  name: black
  entry: poetry run black
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  pass_filenames: false

safety:
  name: safety
  entry: poetry run safety check --full-report
  language: system
  pass_filenames: false

Add KarolisKont as a codeowner
  .github/CODEOWNERS
Due: none

Add KarolisKont as a codeowner (#1)
  .github/CODEOWNERS
Due: none

safety ignore 54672 (scrapy 1.4 vulrnability) in pre-commit
  .pre-commit-config.yaml
Due: none

Add scrapy package
  poetry.lock
  pyproject.toml
Due: poetry-check, safety

Update mypy config
  pyproject.toml
Due: poetry-check, safety

Add pydantic package
  poetry.lock
  pyproject.toml
Due: poetry-check, safety

Add price-parser package
  poetry.lock
  pyproject.toml
Due: poetry-check, safety

Firs iteration of item scraper
  scrapy.cfg
  src/item_price_scraper/data_models.py
  src/item_price_scraper/item_loaders.py
  src/item_price_scraper/main.py
  src/item_price_scraper/middlewares.py
  src/item_price_scraper/pipelines.py
  src/item_price_scraper/settings.py
  src/item_price_scraper/spiders/__init__.py
  src/item_price_scraper/spiders/item_price.py
Due: isort, black, flake8, mypy

feature: add scrapy (#2)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  scrapy.cfg
  src/item_price_scraper/data_models.py
  src/item_price_scraper/item_loaders.py
  src/item_price_scraper/main.py
  src/item_price_scraper/middlewares.py
  src/item_price_scraper/pipelines.py
  src/item_price_scraper/settings.py
  src/item_price_scraper/spiders/__init__.py
  src/item_price_scraper/spiders/item_price.py
Due: poetry-check, isort, black, flake8, mypy, safety

Path conditions:
  poetry-check: any of: ^pyproject\.toml$
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  safety: any of: ^(poetry\.lock|pyproject.toml)$
